<div class="row">
  <div class="col-md-4 offset-md-4 center">
    <%= gravatar_for @chef, size: 150 %>
  </div>

  <div>
    <% if logged_in? and current_chef.admin? && !@chef.admin? %>
    <%= link_to "Delete Chef", chef_path(@chef), class: "btn btn-danger btn-sm", method: :delete,
                                                data: {confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<h4 align="center"><%= @chef.chefname %>'s Recipes'</h4>



<div class="delete-chef">
  <%= render 'recipes/recipe', obj: @chef_recipes %>
</div>

<div align="center" class="paggy">
  <%= will_paginate @chef_recipes %>
</div>
