<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= @recipe.name %></h4>
    <p class="card-text"><%= @recipe.description %></p>
    <span class="card-subtitle mb-2 text-muted"><small>Created by:
      <%= link_to gravatar_for(@recipe.chef), recipes_path %>
      <%= @recipe.chef.chefname %>
      <%= time_ago_in_words(@recipe.created_at)%> ago<small></span>


    <div class="recipe-actions center">
      <% if logged_in? && current_chef == @recipe.chef %>
        <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-warning btn-sm" %> ||
        <%= link_to "Delete", recipe_path(@recipe), method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %> ||
      <% end %>
        <%= link_to "Back", recipes_path, class: "btn btn-primary btn-sm" %>  
    </div>
  </div>

</div>
