<nav class="navbar navbar-toggleable-md bg-inverse" id="nav-stuff">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" id="my-logo">My Recipes</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <%= link_to 'List All', recipes_path, class: 'dropdown-item' %>
      <% if logged_in? %>
            <%= link_to 'New Recipe', new_recipe_path, class: 'dropdown-item' %>
            <% end %>
          </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ingredients</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <%= link_to 'All Ingredients', ingredients_path, class: 'dropdown-item' %>
            <% if logged_in? && current_chef.admin? %>
              <%= link_to 'Add Ingredient', new_ingredient_path, class: 'dropdown-item' %>
            <% end %>
            <% Ingredient.all.each do |ingredient| %>
              <div><%= link_to ingredient.name.capitalize, ingredient_path(ingredient), class: "dropdown-item"%></div>
            <% end %>
            <div role="separator" class="divider"></div>

          </div>
      </li>

      <li class="nav-item">
        <%= link_to 'Chefs', chefs_path, class: 'nav-link' %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav navbar-right">
      <% if logged_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_chef.chefname %>'s Profile <%= "Admin" if current_chef.admin? %></a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <%= link_to 'My Profile', chef_path(current_chef), class: 'dropdown-item' %>

            <%= link_to 'Edit Profile', edit_chef_path(current_chef), class: 'dropdown-item' %>

            <%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %>

          </div>
      </li>

      <% else %>
        <%= link_to "Log In", login_path, class: 'nav-link' %>
      <% end %>
    </ul>
  </div>
</nav>
